.Home {
  width: 100%;
  min-height: calc(100vh - 60px);
  color: #ffffff;

  display: flex;
  align-items: center;
}

.Home__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .Home__col {
    align-items: flex-start;
  }
}

.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../../images/baby-sitter.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 30rem;
  padding-bottom: 8rem;
}